# Replace:

In [7]:
import pandas as pd
df = pd.read_csv("C:\\Users\\shind\\Desktop\\pandas\\max.csv")
df

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,3/24/1910,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,7/2/1992,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,12/1/1938,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,7/30/1954,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,4/29/1932,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,12/28/1994,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,4/12/2012,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,11/15/2016,IT sales professional

             Index
count  10000.00000
mean    5000.50000
std     2886.89568
min        1.00000
25%     2500.75000
50%     5000.50000
75%     7500.25000
max    10000.00000

In [10]:
df.replace(to_replace="Shelby",value="Suraj")

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Suraj,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,3/24/1910,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,7/2/1992,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,12/1/1938,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,7/30/1954,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,4/29/1932,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,12/28/1994,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,4/12/2012,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,11/15/2016,IT sales professional

In [12]:
df.replace([1,2,3],51)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,51,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer
1,51,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,3/24/1910,Phytotherapist
2,51,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,7/2/1992,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,12/1/1938,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,7/30/1954,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,4/29/1932,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,12/28/1994,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,4/12/2012,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,11/15/2016,IT sales professional

In [14]:
df.replace("[A-Za-z]","Suraj",regex=True)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88Suraj7Suraj33Suraj2SurajSurajSuraj9Suraj5,SurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSuraj,SurajSurajSurajSuraj,SurajSurajSurajSurajSurajSuraj57@SurajSurajSur...,001-084-906-7849Suraj73518,10/26/1945,SurajSurajSurajSurajSuraj SurajSurajSurajSuraj...
1,2,Suraj90SurajSuraj3Suraj76Suraj1Suraj9Suraj9,SurajSurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSuraj14@SurajSur...,214.112.6044Suraj4913,3/24/1910,SurajSurajSurajSurajSurajSurajSurajSurajSurajS...
2,3,SurajSurajSurajSurajSuraj8SurajSurajSurajSuraj...,SurajSurajSurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSuraj,SurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSurajSurajSuraj@...,277.609.7938,7/2/1992,SurajSurajSurajSurajSurajSurajSurajSurajSuraj
3,4,Suraj31SurajSurajSuraj3Suraj201SurajSuraj58,SurajSurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSurajSuraj,SurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSurajSurajSurajS...,584.094.6111,8/3/2017,SurajSurajSurajSurajSurajSuraj SurajSurajSuraj...
4,5,1SurajSuraj7Suraj3SurajSuraj874SurajSuraj3Suraj,SurajSurajSurajSuraj,SurajSurajSurajSuraj,SurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSurajSurajSurajS...,689-207-3558Suraj7233,12/1/1938,SurajSurajSurajSurajSurajSurajSurajSurajSurajS...
...,...,...,...,...,...,...,...,...,...
95,96,5SurajSurajSurajSuraj7SurajSurajSurajSurajSura...,SurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSuraj@SurajSuraj...,001-095-524-2112Suraj257,7/30/1954,SurajSurajSurajSurajSurajSurajSurajSuraj Suraj...
96,97,SurajSurajSurajSurajSurajSuraj93Suraj3720Suraj...,SurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSuraj46@SurajSur...,001-865-478-5157,4/29/1932,SurajSurajSurajSurajSurajSurajSurajSurajSuraj
97,98,2SurajSurajSuraj528SurajSurajSurajSuraj0Suraj69,SurajSurajSurajSurajSurajSuraj,SurajSurajSurajSuraj,SurajSurajSurajSuraj,SurajSurajSurajSurajSurajSuraj11@SurajSurajSur...,995-542-3004Suraj76800,12/28/1994,SurajSurajSurajSurajSurajSuraj SurajSurajSuraj...
98,99,SurajSurajSuraj7SurajSuraj9Suraj6Suraj4Suraj1S...,SurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSurajSurajSurajS...,001-273-685-6932Suraj092,4/12/2012,SurajSurajSurajSurajSurajSurajSurajSurajSuraj ...
99,100,Suraj8Suraj0SurajSuraj3490SurajSuraj7Suraj1,SurajSurajSurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSuraj,SurajSurajSurajSuraj,SurajSurajSurajSurajSurajSurajSurajSurajSuraj@...,(341)594-6554Suraj44657,11/15/2016,SurajSuraj SurajSurajSurajSurajSuraj SurajSura...

In [16]:
df.replace({"Sex":"[A-Z]"},51,regex=True)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,51,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,51,bethany14@example.com,214.112.6044x4913,3/24/1910,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,51,bthompson@example.com,277.609.7938,7/2/1992,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,51,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,51,buchananmanuel@example.net,689-207-3558x7233,12/1/1938,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,51,bmartin@example.org,001-095-524-2112x257,7/30/1954,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,51,latasha46@example.net,001-865-478-5157,4/29/1932,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,51,regina11@example.org,995-542-3004x76800,12/28/1994,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,51,alexiscantrell@example.org,001-273-685-6932x092,4/12/2012,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,51,pcopeland@example.org,(341)594-6554x44657,11/15/2016,IT sales professional

In [18]:
df.replace("Male",method="ffill")

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,3/24/1910,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Female,bthompson@example.com,277.609.7938,7/2/1992,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Female,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Female,buchananmanuel@example.net,689-207-3558x7233,12/1/1938,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,7/30/1954,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,4/29/1932,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Female,regina11@example.org,995-542-3004x76800,12/28/1994,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,4/12/2012,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Female,pcopeland@example.org,(341)594-6554x44657,11/15/2016,IT sales professional

In [19]:
df.replace("Male",method="bfill")

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Female,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,3/24/1910,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Female,bthompson@example.com,277.609.7938,7/2/1992,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Female,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Female,buchananmanuel@example.net,689-207-3558x7233,12/1/1938,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,7/30/1954,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,4/29/1932,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Female,regina11@example.org,995-542-3004x76800,12/28/1994,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,4/12/2012,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,11/15/2016,IT sales professional

In [23]:
df.replace(1,method="ffill",limit=2)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,3/24/1910,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,7/2/1992,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,12/1/1938,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,7/30/1954,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,4/29/1932,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,12/28/1994,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,4/12/2012,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,11/15/2016,IT sales professional

In [27]:
df.replace(1,method="ffill",limit=3,inplace=True)
df

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,10/26/1945,Games developer
1,2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,3/24/1910,Phytotherapist
2,3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,7/2/1992,Homeopath
3,4,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,8/3/2017,Market researcher
4,5,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,12/1/1938,Veterinary surgeon
...,...,...,...,...,...,...,...,...,...
95,96,5eFda7caAeB260E,Dennis,Barnes,Female,bmartin@example.org,001-095-524-2112x257,7/30/1954,Software engineer
96,97,CCbFce93d3720bE,Steve,Patterson,Female,latasha46@example.net,001-865-478-5157,4/29/1932,Barrister
97,98,2fEc528aFAF0b69,Wesley,Bray,Male,regina11@example.org,995-542-3004x76800,12/28/1994,Police officer
98,99,Adc7ad9B6e4A1Fe,Summer,Oconnell,Female,alexiscantrell@example.org,001-273-685-6932x092,4/12/2012,Broadcast journalist
99,100,b8D0aD3490FC7e1,Mariah,Bernard,Male,pcopeland@example.org,(341)594-6554x44657,11/15/2016,IT sales professional

# Interpolate:

In [34]:
df = pd.read_csv("C:\\Users\\shind\\Desktop\\pandas\\book.csv")
df

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
1,NaN,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
2,NaN,DbeAb8CcdfeFC2c,NaN,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
3,4.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
6,NaN,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,NaN
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"
10,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
13,14.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
14,NaN,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
15,16.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,Market researcher
16,17.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
17,18.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
18,19.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
19,20.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
20,21.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,Lawyer
21,22.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"

In [35]:
df.interpolate()

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
2,3.0,DbeAb8CcdfeFC2c,NaN,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
3,4.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,NaN
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"
10,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
13,14.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
14,15.0,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
15,16.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,Market researcher
16,17.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
17,18.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
18,19.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
19,20.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
20,21.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,Lawyer
21,22.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"

In [36]:
df.interpolate("linear")

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
2,3.0,DbeAb8CcdfeFC2c,NaN,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
3,4.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,NaN
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"
10,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
13,14.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
14,15.0,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
15,16.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,Market researcher
16,17.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
17,18.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
18,19.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
19,20.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
20,21.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,Lawyer
21,22.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"

In [39]:
df.interpolate(method="linear",axis=0)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
2,3.0,DbeAb8CcdfeFC2c,NaN,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
3,4.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,NaN
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"
10,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
13,14.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
14,15.0,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
15,16.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,Market researcher
16,17.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
17,18.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
18,19.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
19,20.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
20,21.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,Lawyer
21,22.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"

In [40]:
df.interpolate(limit=2)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
2,3.0,DbeAb8CcdfeFC2c,NaN,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
3,4.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,NaN
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"
10,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
13,14.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
14,15.0,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
15,16.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,Market researcher
16,17.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
17,18.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
18,19.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
19,20.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
20,21.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,Lawyer
21,22.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"

In [41]:
df.interpolate(limit_direction="forward",limit=2)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
2,3.0,DbeAb8CcdfeFC2c,NaN,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
3,4.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,NaN
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"
10,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
13,14.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
14,15.0,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
15,16.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,Market researcher
16,17.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
17,18.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
18,19.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
19,20.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
20,21.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,Lawyer
21,22.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"

In [42]:
df.interpolate(limit_direction="backward",limit=2)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
2,3.0,DbeAb8CcdfeFC2c,NaN,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
3,4.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,NaN
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"
10,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
13,14.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
14,15.0,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
15,16.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,Market researcher
16,17.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
17,18.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
18,19.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
19,20.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
20,21.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,Lawyer
21,22.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"

In [43]:
df.interpolate(limit_direction="both",limit=2)

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
2,3.0,DbeAb8CcdfeFC2c,NaN,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
3,4.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,NaN
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"
10,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
13,14.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
14,15.0,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
15,16.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,Market researcher
16,17.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
17,18.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
18,19.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
19,20.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
20,21.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,Lawyer
21,22.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"

In [44]:
df.interpolate(limit_area="inside")

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
2,3.0,DbeAb8CcdfeFC2c,NaN,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
3,4.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,NaN
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"
10,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
13,14.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
14,15.0,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
15,16.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,Market researcher
16,17.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
17,18.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
18,19.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
19,20.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
20,21.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,Lawyer
21,22.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"

In [45]:
df.interpolate(limit_area="outside")

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
1,NaN,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
2,NaN,DbeAb8CcdfeFC2c,NaN,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
3,4.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
6,NaN,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,NaN
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"
10,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
13,14.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
14,NaN,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
15,16.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,Market researcher
16,17.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
17,18.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
18,19.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
19,20.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
20,21.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,Lawyer
21,22.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"

In [48]:
 df.interpolate(limit_direction="both",limit=2,inplace=True)
df

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
1,2.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
2,3.0,DbeAb8CcdfeFC2c,NaN,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
3,4.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,NaN
4,5.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
5,6.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
6,7.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
7,8.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
8,9.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,NaN
9,10.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"
10,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12.0,88F7B33d2bcf9f5,Shelby,Terrell,Male,elijah57@example.net,001-084-906-7849x73518,########,Games developer
13,14.0,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,########,Phytotherapist
14,15.0,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,2/7/1992,Homeopath
15,16.0,A31Bee3c201ef58,Yesenia,Martinez,Male,kaitlinkaiser@example.com,584.094.6111,3/8/2017,Market researcher
16,17.0,1bA7A3dc874da3c,Lori,Todd,Male,buchananmanuel@example.net,689-207-3558x7233,########,Veterinary surgeon
17,18.0,bfDD7CDEF5D865B,Erin,Day,Male,tconner@example.org,001-171-649-9856x5553,########,NaN
18,19.0,bE9EEf34cB72AF7,Katherine,Buck,Female,conniecowan@example.com,+1-773-151-6685x49162,########,Intelligence analyst
19,20.0,2EFC6A4e77FaEaC,Ricardo,Hinton,Male,wyattbishop@example.com,001-447-699-7998x88612,########,Hydrogeologist
20,21.0,baDcC4DeefD8dEB,Dave,Farrell,Male,nmccann@example.net,603-428-2429x27392,########,Lawyer
21,22.0,8e4FB470FE19bF0,Isaiah,Downs,Male,virginiaterrell@example.org,+1-511-372-1544x8206,########,"Engineer, site"